*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    justify-content: center;
    position: relative;
}

.nav{
display: grid;
height: 3rem;
align-items: center;
box-shadow: black;
}

.container{
    display: block;
    text-align: center;
}
.container h2{
    
}